@font-face {
  font-family: Montserrat;
  src: url("../../../../baikal-hut-nuxt/nuxt-app/public/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

$font-family-title: "Roboto";
  $font-family-text: "Roboto";
$main-color: #5BBFFF;
$hover-color: $main-color;